langchain
langchain-community
langchain-core
chromadb
faiss-cpu
pypdf
beautifulsoup4
python-dotenv
ollama
sentence-transformers
wikipedia
arxiv
langchainhub
sentence_transformers
PyPDF2
langchain-objectbox
groq
cassio
fastapi
uvicorn
sse_starlette
python-dotenv
streamlit 
streamlit_chat 
tiktoken 